doctype html
//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            #logo
                img(src="/static/png/png1.png")
                | SDA 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info ]
            li #[a(href="/") Contact us ]
    section#introSection  
        div Welcome to Sameer's Dance Academy
        div.small Eat Sleep Dance Repeat 
    section#missionSection 
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img 
                    img(src="/static/png/png2.png") 
                div.card-content 
                    p This is the best dance academy of the universe 
        div.card
            h3 Dance the way you like 
            div.card-box
                div.card-img 
                    img(src="/static/png/png3.png") 
                div.card-content 
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img 
                    img(src="/static/png/png4.png") 
                div.card-content 
                    p This is the best dance academy of the universe  
    section#sponsersSection 
        h2 Our sponsers 
        div#sponsers 
            img(src="/static/logo/logo1.png",atl="sponsers Image",Class="spImage")
            img(src="/static/logo/logo2.png",atl="sponsers Image",Class="spImage")
            img(src="/static/logo/logo3.png",atl="sponsers Image",Class="spImage")
            img(src="/static/logo/logo4.png",atl="sponsers Image",Class="spImage")
    footer#footer 
        |copyright © 2021 sameerdanceacademy.com | All right reserved  

    script
      include ../static/index.js